<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
    <testsuites>
        <testsuite name="OpenAI">
            <file>tests/ChatCompletionsTest.php</file>
            <file>tests/AudioSpeechTest.php</file>
            <file>tests/AudioTranscriptionTest.php</file>
            <file>tests/ImageGenerationsTest.php</file>
            <file>tests/EmbeddingCreateTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
